---
import Layout from "../layouts/Layout.astro";
import { Indexr } from "../components/Indexr/Indexr";
---

<Layout title="Puzzle Pal | Binary">
  <main>
    <div class="flex justify-center">
      <Indexr client:load />
    </div>
  </main>
</Layout>
