---
import Layout from "../layouts/Layout.astro";
import { BinPage } from "../components/BinPage/BinPage";
---

<Layout title="Puzzle Pal | Binary">
  <main>
    <div class="flex justify-center">
      <BinPage client:load />
    </div>
  </main>
</Layout>
