---
import Layout from "../layouts/Layout.astro";
import { ConversionsPage } from "../components/Conversions/ConversionsPage";
---

<Layout title="Puzzle Pal | Conversions">
  <main>
    <div class="flex justify-center">
      <ConversionsPage />
    </div>
  </main>
</Layout>
