---
import Layout from "../layouts/Layout.astro";
import { ConversionsPage } from "../components/Conversions/ConversionsPage";
---

<Layout title="Puzzle Pal | Conversions">
  <main class="flex h-full w-full justify-center">
    <ConversionsPage client:load />
  </main>
</Layout>
