---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col gap-3">
    <div>
      <div class="">Resources for puzzling.</div>
    </div>
    <div class="flex w-full flex-col items-center gap-2">
      <a href="/shift" class="w-full">
        <div
          class="w-full rounded-full bg-teal-800 p-4 text-center text-2xl font-bold active:bg-teal-600"
        >
          Shift
        </div>
      </a>
    </div>
  </main>
</Layout>
