---
import Layout from '../layouts/Layout.astro';
import {Indexr} from '../components/Indexr.tsx';
---

<Layout title="Welcome to Astro.">
	<main class="bg-blue-500">
        <div class="text-white">Hello</div>
        <Indexr client:load />
    </main>
</Layout>

