---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div>
      <div class="">Resources for puzzling.</div>
    </div>
    <div class="flex text-blue-300 hover:underline">
      <a href="/shift">Shift</a>
    </div>
  </main>
</Layout>
