---
import Layout from "../layouts/Layout.astro";
import { Indexr } from "../components/Indexr.tsx";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex justify-center">
      <Indexr client:load />
    </div>
  </main>
</Layout>
