---
import Layout from "../layouts/Layout.astro";
import {LookupPage} from "../components/Lookup/LookupPage"
---

<Layout title="Puzzle Pal | Lookup">
  <main class="flex h-full w-full justify-center">
        <LookupPage />
  </main>
</Layout>
