---
import Layout from "../layouts/Layout.astro";
import { Indexr } from "../components/Indexr/Indexr";
---

<Layout title="Puzzle Pal | Shift">
    <main class="flex w-full justify-center">
      <Indexr client:load />
    </main>
</Layout>
