---
import "../globals.css";
import { ViewTransitions } from "astro:transitions";
import { ModeToggle } from "../components/ModeToggle.tsx";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      const setTheme = () => {
        const classList = document.documentElement.classList;

        for (let c of classList) {
          classList.remove(c);
        }
        const key = "theme";
        if (typeof localStorage !== undefined) {
          const storedTheme = localStorage.getItem(key);
          if (
            !storedTheme &&
            window.matchMedia("(prefers-color-scheme: dark)").matches
          ) {
            classList.add("dark");
          } else {
            classList.add(storedTheme);
          }
        }
      };
      setTheme();
      document.addEventListener("astro:after-swap", setTheme);
    </script>
    <ViewTransitions />
  </head>
  <body class="flex h-[100vh] flex-col overflow-y-scroll bg-background">
    <div
      class="flex justify-between p-3 text-2xl font-bold"
      style="box-shadow: 0 2px 3px 0 hsl(var(--secondary))"
    >
      <a href="/">Puzzle Pal</a>
      <ModeToggle client:load />
    </div>
    <div
      class="flex h-full w-full max-w-3xl grow items-start justify-center self-center p-6"
    >
      <slot />
    </div>
  </body>
</html>
